# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log